<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pudding’s Café{% endblock %}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='themes/' + active_theme + '.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;500;600&family=Karla:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar">
<a href="{{ url_for('home') }}" class="logo">Pudding’s</a>

        <ul class="nav-links">
            <li><a href="/" class="{% if active=='home' %}active{% endif %}">Home</a></li>
            <li><a href="/about" class="{% if active=='about' %}active{% endif %}">About</a></li>
            <li><a href="/menu" class="{% if active=='menu' %}active{% endif %}">Order</a></li>
            <li><a href="/cart" class="{% if active=='cart' %}active{% endif %}">Cart</a></li>
        </ul>
    </nav>

    <!-- Pages content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="footer">
        <p>© Pudding’s Café - SM.</p>
    </footer>

</body>
</html>
